body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
}

.container {
  padding: 16px;
}

/* CARD */
.card {
  background: white;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 12px;
  position: relative; /* penting untuk posisi badge */
  cursor: pointer;
}

/* BUTTON */
button {
  padding: 14px;
  width: 100%;
  margin-top: 8px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

/* STATUS BACKGROUND */
.status-green {
  background: #d4edda;
}

.status-yellow {
  background: #fff3cd;
}

.status-red {
  background: #f8d7da;
}

/* BADGE */
.badge {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 6px 14px;
  border-radius: 999px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

/* BADGE COLORS */
.badge-green {
  background: #28a745;
  color: white;
}

.badge-yellow {
  background: #ffc107;
  color: black;
}

.badge-red {
  background: #dc3545;
  color: white;
}
